{{#each beers}}
    <div>
      <img src="{{image_url}}" alt="{{name}}">
      <h2>{{name}}</h2>
      <p>{{description}}</p>
      <p>{{tagline}}</p>
    </div>
  {{/each}}

{{!-- <h1>All Beers</h1>

{{#each beers}}
  <div class="beer-container">
    <img src="{{image_url}}" alt="{{name}}">
    <h2>{{name}}</h2>
    <p>{{description}}</p>
    <p>Tagline: {{tagline}}</p>
  </div>
{{/each}} --}}